#slot{
    margin-top: 10%;
    margin:auto;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bolder;
    width: 55%;
}

#scheduleArea{
    margin:auto;
    height: 70%;
    width: 55%;
    border-style: solid;
    border-color: #ebebe0;
}